

@mixin pr(){
   
   position: relative;
   

}

/*  声明css绝对定位的混合 */

@mixin pa($y,$x){

	position: absolute;
	top: $y;
	left:$x;
}

/* 声明背景图片的css混合 */

@mixin bgImg($url,$y,$x,$wid){

	background-image: url($url);
	background-position: $y $x;
	background-repeat: no-repeat;
	background-size: $wid;


}
@mixin bgImgs($url,$y,$x){

  background-image: url($url);
  background-position: $y $x;
  background-repeat: no-repeat;
}

@mixin pf($y:0,$x:0){
	position: fixed;
	top: $y;
	left: $x;
}
@mixin pfs($y:0,$x:0){
	position: fixed;
	bottom: $y;
	left: $x;
}
header{

	width:750px;;
    position: fixed;
    top: 0px;
    /* left: 0px; */
  background:#fece02;
  padding: 17px 0px;
  z-index: 9999;
	.search{
		width: 90%;
		margin: 0px auto;
		display: flex;
	}
	.search>div{
         flex-basis:20%;
         text-align: center;
	}
	.search>div:last-child{
		flex:1;
	}
	.search_right{
		display: flex;

	}
	.search_right>div{
		flex-basis:15%;
		.mar_top{
			margin-top: 10px;
		}
	}
	.search_right>div:first-child{
		flex:1;
		input{
			width: 100%;
			height: 67px;
			background-color: #fece02;
			border: 0px;
			text-indent: 50px;
			font-size: 30px;

			@include bgImg('../images/search_bg.png',left,center,100%);
			&::placeholder {
	             color: #fff;
	             font-size: 30px;

              }

		}
		
	}
}

/* header end */

.center{
	width: 100%;
	float: left;
	margin-top: 108px;
	margin-bottom: 150px;
	.center_box{
		width: 100%;
        display: flex;
        .center_left .center_left_uls li{
              font-size: 30px;
              text-align: center;
              line-height: 90px;
              background:#f8f8f8;
              border-bottom: 3px solid #d4d4d4;
              color: #3c3c3c;

        }
        .center_left .center_left_uls li.bg{
        	background:#fff;
        	color: #fea31e;
        }
        .center_right{

        	  .center_right_lis{
        	  	     width: 100%;

        	  	    .center_right_lis_1{
                          width: 100%;
                          float: left;

                          .center_right_desc{
                          	width: 100%;
                          	background:#f8f8f8;
                          	font-size: 30px;
                          	line-height: 47px;
                          }
        	  	     }
        	  	     .ground{
        	  	     	width: 100%;
        	  	     	.ground_one{
        	  	     		width: 95%;
        	  	     		float: right;
        	  	     		padding: 10px 0px;
                            border-bottom: 1px solid #a1a1a1;
        	  	     		display: flex;
        	  	     		.ground_one_img{
        	  	     			text-align: center;
        	  	     			img{
        	  	     				margin-top: 50px;

        	  	     			}
        	  	     		}
        	  	     		.ground_one_text{
        	  	     			 .ground_title{
        	  	     			 	font-size: 28px;
        	  	     			 	color: #404040;
        	  	     			 }
        	  	     			 .ground_title span{
        	  	     			 	color: #ff4100;
        	  	     			 	border: 2px solid #ff4100;
        	  	     			 	border-radius: 10px;
        	  	     			 	line-height: 40px;
        	  	     			 	padding: 3px;
        	  	     			 	margin-right: 5px;
        	  	     			 	text-align: center;

        	  	     			 }
        	  	     			 .zeng{
        	  	     			 		font-size: 30px;
        	  	     			 		background:#ff4100;
        	  	     			 		color: #fff;
        	  	     			 		padding-left: 5px;
        	  	     			 		line-height: 50px;
        	  	     			 		margin-top: 10px;
        	  	     			 		border-radius: 10px;
        	  	     			 	}
        	  	     			 	.ground_one_text_li{
        	  	     			 		width: 100%;
        	  	     			 		
        	  	     			 		display: flex;
        	  	     			 		margin-top: 10px;
        	  	     			 		.ground_one_text_left{
        	  	     			 			
        	  	     			 			span{
        	  	     			 				font-size: 30px;
        	  	     			 			    color: #929091;
        	  	     			 			    display: block;
        	  	     			 			}
        	  	     			 			span:last-of-type{
        	  	     			 				color: red;
        	  	     			 				font-size: 36px;
        	  	     			 			}
        	  	     			 		}

        	  	     			 		.ground_one_text_right{
        	  	     			 			
        	  	     			 			span{
                                                
        	  	     			 				margin-right: 20px;
        	  	     			 				width: 60px;
        	  	     			 				height: 60px;
        	  	     			 				border:2px solid #dedede;
        	  	     			 				text-align: center;
        	  	     			 				border-radius: 50%;
        	  	     			 				line-height: 58px;
        	  	     			 				font-size: 30px;
        	  	     			 				color: red;
        	  	     			 				margin-top: 20px;
        	  	     			 			}
        	  	     			 		}
        	  	     			 	}
        	  	     			 	.ground_one_text_li>div{
        	  	     			 		flex-basis:50%;
        	  	     			 		

        	  	     			 	}
        	  	     			 	.ground_one_text_li>div:last-of-type{
        	  	     			 		text-align: right;
        	  	     			 	}
        	  	     		}
        	  	     	}
        	  	     	.ground_one>div{
        	  	     		flex-basis:20%;
        	  	     		
        	  	     	}
        	  	     	.ground_one>div:last-of-type{
        	  	     		flex:1;
        	  	     	}
        	  	     }
        	  }
        }

	}
	.center_box>div{
          flex-basis:20%;
          
		}
    		
    .center_box>div:last-of-type{
    	flex:1;
    }
}


/*center end*/

footer{
  width: 750px;
  position: fixed;
  bottom: 0px;
 
  background:#fcfcfc;
  border-top: 2px solid #c3c3c3;
  .menu{

  width: 100%;
  display: flex;
  flex-grow:row;
  justify-content:space-around;
  padding-bottom: 17px;
  padding-top: 17px;
}
.menu > a{
  flex-basis:80px;
  text-align: center;
  font-size: 20px;
  color:#000;


}

}